body {
  background-color: bisque;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 5em;
  padding: 2em;
}

#taskList {
  margin-inline: auto;
  color: darkslateblue;
}

h3 {
  text-align: center;
  color: darkslateblue;
}

#taskOne {
  text-align: center;
  color: darkslateblue;
}

#statusOne {
  text-align: center;
  color: darkslateblue;
}

h2 {
  font-size: 3em;
  font-family: cursive;
  text-align: center;
  color: darkslateblue;
}

#task {
  text-align: center;
  color: darkslateblue;
}

table {
    text-align: center;
}

.completeBtnClick:focus
{
    font-size: 1em;
    color: green
}